*{
    margin: 0;
    padding: 0;
}

body {
    font-size: calc(12px + 10 * (100vw - 320px) / 1600);
    font-family: Arial, Helvetica, sans-serif;
}

li {
list-style-type: none;
}
#header {
    /* background: #aeb0af; */
    background: #666769;
    width: 100%;
    height: 60px;
}

#header-title {
    /* float: left; */
    display: inline-block;
    padding-left: 20px;
    line-height: 60px;
    font-size: 1.3rem;
    color: white;
    font-weight: 300;
}

.user_Panel {
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.bell {
    width: 27px;
    height: 27px;
    filter: invert(1);
   
}

.bell-container {
    position: relative;
    display: inline-block;
    left: -30px;
    bottom: -3px;
    transition: transform .25s ease-in-out;
}
.bell-container:hover {
    transform: translate3d(0,0,0);
    /* scale: 1.1; */
    transform: scale(1.1);
    animation: shake 0.4s ease-in-out 2;
    transform-origin: top;
    cursor: pointer;
}

@keyframes shake {
    0% {
      transform: rotate(0);
    }
    30% {
      transform: rotate(-20deg);
    }  
    70% {
      transform: rotate(20deg);
    }  
    100% {
      transform: rotate(0deg);
    }
  }

.notification-dot {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 9px;
    height: 9px;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
}
.user-img {
    width: 45px;
    height: 45px;
    filter: invert(1);
}

.user-menu {
    display: flex;
    align-items: center;
    position: relative;
}

.Profile-name {
    padding-right: 20px;
    color: white;
    font-weight: 500;
}


.user-drop-container {
    display: none;
    position: absolute;
    height: 70%;
    top: 100%; 
    background-color: #f9f9f9;
    min-width: 90%;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    /* list-style: none;  */
}

.dropdown-menu li {
   height: 100%;
   border: 1px solid black;
}

.dropdown-menu li:first-child {
    border-bottom: none;
}
.dropdown-menu li:nth-child(2) {
    border-top: none;
}

.dropdown-menu li button {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    border: none;
    padding: 0;
    font-size: 0.9em;
   
}
.dropdown-menu li button:hover {
    background-color: rgba(128, 128, 128, 0.267);
}

.user-menu:hover{
    cursor: pointer;
}
.user-menu:hover .user-drop-container{
    display: block;
}


/* вікно для дзвіночка */

.user-notification {
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 300px;
    position: absolute;
    top: 100%;
    right: 20%;
  }


  .bell-container:hover + .user-notification,
  .user-notification:hover {
      display: block;
  }
  
.notification-panel {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.notification-panel li {
    display: flex;
    align-items: center;
    padding: 3%;
    border-bottom: 1px solid #ddd;
    background-color: #f7f7f7;
    height: 100%;
}
  
.notification-panel li img {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-panel li .user-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
}

.notification-panel li .user-name {
margin-bottom: 5px;
padding-left: 17%;
}

.notification-panel li:hover {
    background: #f5d7d7;
}

.notification-panel li .message {
    display: flex;
    min-height: 6vh; 
    color: black;
    font-size: 14px;
    text-align: right;
    flex: 1;
    background: #c2c0c0;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5px;
}
  


.user-name {
   color: black;
   font-size: 12px;
   font-weight: 100;
}


/* /////////////////////////////////////////// */
