<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="/js/login.js" defer></script>

  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div class="container mt-3">
    <h2>Log in</h2>
  <form id="myForm" action="/Registration" method="post" class="was-validated">
    <div class="mb-3 mt-3">
      <label for="uname" class="form-label">Username:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
      <div class="valid-feedback"></div>
      <div id="val-div2" style="color: red; font-size: 14px;"></div>
    
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
      <div class="valid-feedback"></div>
      <div id="val-div" style="color: red; font-size: 14px;"></div>
      <!-- <div id="val-div" class="invalid-feedback" >Please fill out this field.</div> -->
    </div>
    
    <button type="submit" id="submitBtn" class="btn btn-primary">Enter</button>

  </form>
</div>


<!-- <script>
document.getElementById("submitBtn").addEventListener("click", function(event) {
    var password = document.getElementById("pwd").value;
    if(password.length == 0) {
        document.getElementById("val-div").textContent = "Please fill out this field.";
        event.preventDefault(); // Ця стрічка перешкодить відправці форми, якщо умова не виконується
    }
   else if (password.length < 4 && password.length > 0) {
       // document.getElementById("val-div").classList.replace("valid-feedback", "invalid-feedback")
        document.getElementById("val-div").textContent = "Password must contain at least 4 characters";
        event.preventDefault(); // Ця стрічка перешкодить відправці форми, якщо умова не виконується
       
    } else {
       
        document.getElementById("val-div").textContent = " ";
    }
});
</script> -->
</body>

</html>
