<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/modalWindows.css">
    <link rel="stylesheet" href="/css/tasks.css">
   
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/tasks.js" defer></script>
   
   

</head>
<body>

    <header id="header">
        <h2 id="header-title">CMS</h2>
        <div class="user_Panel">
            <div class="bell-container">
                <span class="notification-dot"></span>
                <a href="/chats">
                    <img class="bell" src="/Images/bell.png" alt="bell">
                </a>
            </div>
            <div class="user-notification">
                <ul class="notification-panel">
                  <li>
                    <div class="user-info">
                      <img src="/Images/massage-user-icon.png" alt="user">
                      <span class="user-name">Ivan</span>
                    </div>
                    <div class="message">Message from Ivan</div>
                  </li>
                  <li>
                    <div class="user-info">
                      <img src="/Images/massage-user-icon.png" alt="user">
                      <span class="user-name">Oleh</span>
                    </div>
                    <div class="message">Message from Oleh</div>
                  </li>
                  <li>
                    <div class="user-info">
                      <img src="/Images/massage-user-icon.png" alt="user">
                      <span class="user-name">Ira</span>
                    </div>
                    <div class="message">Message from Ira</div>
                  </li>
                </ul>
              </div>
            
              <div class="user-menu">
                <img class="user-img" src="/Images/user-icon.png" alt="User Avatar">
                <span id="nameUp" aria-label="Ім'я користувача: Mykhailiv Volodymyr" class="Profile-name" ><%= name%></span>
                <div class="user-drop-container">
                    <ul  class="dropdown_menu">
                        <li><button>Profile</button></li>
                        <li>
                            <a href="/Logout">
                            <button>Log out</button>
                          </a>
                          </li>
                    </ul>
                </div>
                </div>
        </div>
    </header>

   
    <main class="main">
        <nav id="navigation">
            <ul id="nav_list">
                <li> <a href="#">Dashboard</a> </li>
                <li> <a href="/student">Students</a></li>
                <li> <a href="/tasks">Tasks</a></li>
            </ul>
        </nav>


  <section class="students">
            <h2 class="student-title">Tasks</h2>
           
           
          
           <div id="tasksContainer" class="container row tasks-container visible mt-4">
           
               <div class="col-md-4"> 
                   <!-- To Do Taskboard -->

                   <div id="ToDoTaskboard" class="task-boards border border-3 rounded">
                       <div class="d-flex justify-content-center align-items-center border-bottom border-3">
                           <span><b>To do</b></span>
                       </div>
                       <div class="tasks-list-block">
                           <div class="task-block d-flex justify-content-between m-2 p-2 border border-3 rounded">
                               <span class="task-name">Поїхати додому на паску</span>
                               <span class="task-date">2024-05-03</span>
                               <span class="task-text">Їсти паску</span>
                           </div>
                       </div>
                       <button type="button" class="new-task-button mt-3">+ Add task</button>
                   </div>
               </div>
               <div class="col-md-4">
                   <!-- In Process Taskboard -->
                   <div id="InProcessTaskboard" class="task-boards border border-3 rounded">
                       <div class="d-flex justify-content-center align-items-center border-bottom border-3">
                           <span><b>In process</b></span>
                       </div>
                       <div class="tasks-list-block">
                        <div id="task-block" class="task-block d-flex justify-content-between m-2 p-2 border border-3 rounded">
                            <span class="task-name">Лаба </span>
                            <span class="task-date"> </span>
                            <span class="task-text">Доробити лабораторну</span>
                        </div>
                       </div>
                       <button type="button" class="new-task-button mt-3">+ Add task</button>
                   </div>
               </div>
               <div class="col-md-4">
                   <!-- Done Taskboard -->

                   <div id="DoneTaskboard" class="task-boards border border-3 rounded">
                       <div class="d-flex justify-content-center align-items-center border-bottom border-3">
                           <span><b>Done</b></span>
                       </div>
                       <div class="tasks-list-block">

                       </div>
                       <button type="button" class="new-task-button mt-3">+ Add task</button> 
                   </div>
               </div>
           </div>
       
         
           
        <!-- Tasks form -->
        <div id="tasksForm" class="tasks-form unvisible border border-3 p-5 mt-4">
            <form class="tasks-form" action="#">
                <label for="">Board</label>
                <select type="text" id="taskBoardField" class="form-control">
                    <option value="ToDoTaskboard">To do</option>
                    <option value="InProcessTaskboard">In process</option>
                    <option value="DoneTaskboard">Done</option>
                </select>
            
                <label for="">Name</label>
                <input type="text" id="taskNameField" class="form-control">    

                <label for="">Date</label>
                <input type="date" id="taskDateField" class="form-control">
            
                <label for="">Description</label>
                <textarea name="" cols="25" rows="3" id="taskTextField" class="form-control"></textarea>

                <div class="add-task-controls visible">
                    <button id="addTaskButton" class="submit-task-button btn btn-outline-secondary">Add</button>
                </div>
                <div class="edit-task-controls unvisible">
                    <button id="saveTaskButton" class="submit-task-button btn btn-outline-secondary me-3">Save</button>
                    <button id="cancelTaskButton" class="submit-task-button btn btn-outline-secondary">Cancel</button>
                </div>
            </form>
        </div>


    </section>



         
      
   
</body>
</html>
